@font-face {
  font-family: "Smeshariki";
  src: url("/fonts/smeshariki.woff") format("woff");
}

* {
    font-family: "Smeshariki",Arial, Helvetica, sans-serif;
    font-weight: 100 !important;
    user-select: none;
}

.select_btns:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px 10px #0005;
}